<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="stylesheet" href="https://michaloleszak.github.io/css/main.css">
  <link rel="stylesheet" href="/css/site.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
  {{ content_for_head }}
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">HighestPeaks</a>
      </div>
    </nav>
  </header>
  <main class="container" role="main">
    {{ content }}
  </main>
  <footer class="text-center mt-5 mb-3">
    <small>&copy; {{ site.time | date: "%Y" }} Michal Oleszak</small>
  </footer>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="/js/peaks-map.js"></script>
</body>
</html>